doctype
html(ng-app="node_starter_client")
    head
        link(type='text/css' rel='stylesheet' media='all' href='/css/home.css')
        link(type='text/css' rel='stylesheet' media='all' href='/lib/bootstrap/dist/css/bootstrap.min.css')
        base( href='/' )
        script(type="text/javascript" src="/lib/angular/angular.min.js")
        script(type="text/javascript" src="/lib/angular-route/angular-route.min.js")
        script(type="text/javascript" src="/lib/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")
        script(type="text/javascript" src="/dist/js/node_starter_client.min.js")
        // script(type="text/javascript" src="/js/app.js")
        // script(type="text/javascript" src="/js/routes.js")
        // script(type="text/javascript" src="/js/controllers/HomeCtrl.js")
        block title-content
    body
        div(class="main_wrapper")
            block header-content
            block main-content
        block footer-content